<form #form="ngForm">
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Nome</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nome" name="nome" [(ngModel)]="recurso.nome">
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">CPF</label>
        <div class="control">
          <input class="input" type="text" placeholder="CPF" name="cpf" [(ngModel)]="recurso.cpf">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Matrícula</label>
        <div class="control">
          <input class="input" type="text" placeholder="Matrícula" name="matricula" [(ngModel)]="recurso.matricula">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Login</label>
        <div class="control">
          <input class="input" type="text" placeholder="Login" name="login" [(ngModel)]="recurso.login">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Admissão</label>
        <div class="control">
          <input id="datepickerDemo" class="input" type="date" name="admissao" [ngModel]="recurso.admissao | date: 'yyyy-MM-dd'" (ngModelChange)="recurso.admissao = $event">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Desligamento</label>
        <div class="control">
          <input id="datepickerDemo" class="input" type="date" name="desligamento" [ngModel]="recurso.desligamento | date: 'yyyy-MM-dd'"
            (ngModelChange)="recurso.desligamento = $event">
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Email" name="email" [(ngModel)]="recurso.email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <!-- <span class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span> -->
        </div>
        <!-- <p class="help is-danger">E-mail inválido</p> -->
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label">Telefone</label>
          <input class="input" type="text" placeholder="Telefone" name="novoTelefone" [(ngModel)]="novoTelefone">
        </div>
      </div>
    </div>
    <div class="column">
      <label class="label">&nbsp;</label>
      <button class="button is-link" (click)="addTelefone()">Add</button>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>
              <abbr title="Número">Número</abbr>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let telefone of recurso.telefones; let i = index">
            <td>{{telefone}}</td>
            <td>
              <button class="button is-link" (click)="removerTelefone(i)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <div class="control">
          <label class="label">Campus</label>
          <div class="select">
            <select name="campus">
              <option>Selecione</option>
              <option *ngFor="let item of campus" [ngValue]="item" [selected]="recurso.campus.id == item.id">{{item.descricao}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <label class="label">Area</label>
      <div class="field">
        <div class="control">
          <div class="select">
            <select name="area" [(ngModel)]="custom" >
              <option *ngFor="let item of area" [ngValue]="item.id">{{item.descricao}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <ul>
      <li [ngClass]="{'is-active': tab.name == tabActive} " *ngFor="let tab of tabs;">
        <a (click)="tabSelect(tab.name)">{{tab.title}}</a>
      </li>
    </ul>
  </div>

  <app-competencia [existentes]="recurso.competencias" [style.display]="'competencia' == tabActive ? 'inherit':'none'" (onItemClicked)="competenciaClick($event)"></app-competencia>

</form>

<div class="columns">
  <div class="column">
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-text">Voltar</button>
      </div>
      <div class="control">
        <button class="button is-link  is-pulled-right" (click)="salvar()">Submit</button>
      </div>
    </div>
  </div>

</div>